<ion-view view-title="議程資訊">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/blue-album.jpg">
        <h2>Asus Cloud</h2>
        <p>ASUS Cloud 贊助抽獎活動</p>
      </div>

      <div class="item item-body">
        <h1>議題介紹</h1>
        <p>
          由 ASUS Cloud 提供 ZenFone 手機為抽獎贈品喔！
        </p>
        <h1>講者簡介</h1>
        <p>
          華碩雲端為華碩發展雲端服務的經營團隊，以資料為核心推動整合性創新，解決大量數位資料的管理並串聯軟硬體資源，滿足使用者從生產力到娛樂的雲端需求。華碩雲端於全球擁有諸多據點資料中心，並於雲端平台設置嚴謹的資安防護技術，為使用者及企業打造安全無虞的雲端空間；同時，華碩亦開放雲端平台資源，積極與各領域夥伴合作，加速產業整合與創新，豐富雲端生態圈的應用服務。
        </p>
      </div>

     

    </div>
  </ion-content>
</ion-view>
