<ion-view view-title="議程表">
  <ion-content>
    <div class="button-bar bar-positive">
      <a class="button activated">第一天</a>
      <a class="button">第二天</a>
    </div>
    <div class="card">
      <div class="item item-divider">
        08:00~08:45
      </div>
      <div class="item">
        <h2>參加者報到</h2>
      </div>  
      <div class="item item-divider">
        08:45~09:00
      </div>
      <a class="item item-avatar item item-avatar item-text-wrap" href="#/app/agenda/1" >
        <img src="http://mopcon.org/2014/images/sponsor/asuscloud.png">
        <h2>Asus Cloud</h2>
        <p>ASUS Cloud 贊助抽獎活動</p>
      </a>  
      <div class="item item-divider">
        09:50~10:30
      </div>
      <a class="item item-avatar item item-avatar item-text-wrap" href="#/app/agenda/1">
        <img src="http://mopcon.org/2014/images/speakers/KKBOX_drake_guan.jpg">
        <h2>Drake (官順暉)</h2>
        <p>How does Netflix get built and triumphed?</p>
      </a>  
      <a class="item item-avatar item item-avatar item-text-wrap" href="#/app/agenda/1">
        <img src="http://mopcon.org/2014/images/speakers/ericsk.jpg">
        <h2>上官林傑 (ericsk)</h2>
        <p>使用 Microsoft Azure 雲端平臺規劃及建置高延展、高可靠性的應用系統</p>
      </a> 
      <a class="item item-avatar item item-avatar item-text-wrap" href="#/app/agenda/1">
        <img src="http://mopcon.org/2014/images/speakers/hsu.jpg">
        <h2>徐德航</h2>
        <p>面對贏者全拿的APP市場開發者該怎麼成功 - 以 APP 手機遊戲市場為例</p>
      </a> 
    </div>

  </ion-content>
</ion-view>
