<ion-view view-title="議程表">
    <ion-content>
        <div class="button-bar bar-positive">
            <a class="button activated">第一天</a>
            <a class="button">第二天</a>
        </div>
        <div class="card">
            <div ng-repeat="row in agendaData.Day1">
                <div ng-if="row.Bulletin != '' ">
                    <div class="item item-divider">
                        {{row.Time}}
                    </div>
                    <div class="item">
                        <h2>{{row.Bulletin}}</h2>
                    </div>
                </div>
                <div ng-if="row.Bulletin == '' ">
                    <div class="item item-divider">
                        {{row.Time}}
                    </div>
                    <div ng-repeat="talker in row.Section ">
                      <a class="item item-avatar item item-avatar item-text-wrap" href="#/app/agenda/{{talker.id}}" >
                          <img src="{{talker.ImgUrl }}">
                          <h2>{{talker.TalkerName}}</h2>
                          <p>{{talker.SectionTitle }}</p>
                      </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
