<ion-view view-title="即時訊息">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h3>2015/12/24 12:20 PM</h3>
        <p>
          目前為用餐休息時間，服務中心備有便當，歡迎各位領取。
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>2015/12/24 10:20 AM</h2>
        <p>
          大會報告：如果有人撿到紅色錢包，請送到服務中心，謝謝。
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>2015/12/24 9:00 AM</h2>
        <p>
          今日議程即將開始。
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
