<ion-view view-title="講者資訊">
  <ion-content>
    <div class="list">
        <div class="item item-avatar item-text-wrap" href="#">
          <img src="img/blue-album.jpg">
          <h2>徐德航 / ijoing (愛就贏) 總經理</h2>
          <p>愛就贏總經理徐德航在遊戲業界資歷十年，曾任上海遊戲新幹線市場部主任、遊戲新幹線香港辦公室主任、智冠台北研發中心企劃部主任與智冠市場投資處主任。在長期接觸台灣獨立遊戲開發者後發現，遊戲大賣很難提前預測，擴散效應必須掌握天時地利與人和很難複製。因此愛就贏綜合創業育成、共同開發、遊戲營運、發行平台等，與上架的公司專案合作，共同創作遊戲，成為遊戲開發商的共同開發夥伴及產品共同擁有者</p>
        </div>
        <div class="item item-avatar item-text-wrap" href="#">
          <img src="img/blue-album.jpg">
          <h2>廖聰哲 (Ian Liao) / Golface 創辦人</h2>
          <p>現為 Golface (綠夾克運動有限公司) 負責人，發現高爾夫球在台灣是很昂貴的運動，很多人希望透過這個運動建立人際關係，但國內高球場經營非常傳統，缺一套球場專屬物流系統，於是喜愛打高爾夫球的 Ian 看到這個需求，和團隊成員開發出高爾夫球場的數位化解決方案 Golface，從動態球道空拍攝影、即時資訊回報、便捷賽事紀錄管理，甚至包括球友間的社交平台都提供專項服務。目前 Golface已把整套解決方案，導入 Rolex 全球排名1000 大的高爾夫球場</p>
        </div>
    </div>

  </ion-content>
</ion-view>
